.number {
  width: 4rem;
  display: flex;
  align-items: center;
}

.inner {
/*   position: absolute; */
  display: flex;
  flex-direction: column;
  animation: slide 10s linear infinite;
}

.inner div {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
  height: 4rem;
  transform : rotate(-90deg);
}

.upper {
  position: absolute;
  left: 1rem;
  height: 100vh;
  overflow: hidden;
  /* border: 1px solid black; */
  /* border-right: 2px dashed black; */
  z-index: -1;
}

p {
  font-family: var(--font-family);
  color: var(--primary-color);
  /* color: #777676; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* font-family: JetBrains Mono; */
  font-size: 0.9375rem;
  /* font-style: normal; */
  font-weight: 700;
  line-height: normal;
}

.odd p {
  /* color: #777676; */
  color: var(--secondary-color);
  font-family: var(--font-family);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/* font-family: JetBrains Mono; */
font-size: 0.9375rem;
/* font-style: normal; */
font-weight: 700;
line-height: normal;
}

@keyframes slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

/* .inner:hover {
  animation: none;
} */