.port__SH {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 4rem;
  margin: 0;
  width: 100%;
  /* z-index: 3; */
}

.port__SH-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.port__SH-container_icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  /* transition: all 2s ease-in-out; */
}
.port__SH-container_icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0;
}

.port__SH h4 {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 1.875rem;
  /* font-style: normal; */
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.port__SH-container button {
  border: none;
  background: none;
  cursor: pointer;
}
